{% extends 'shop/basic.html' %}
{% block body %}

<h1 style="margin-top:20px; text-align: center;">Cart</h1>
<!--    <div class = "container">-->
<!--      <div class="card-deck" style = "width: 70rem;">-->
    {% if cart1 %}
    <div class="container" >
          {% for cart in cart1 %}
      <div class="card" style="width:250px; margin:50px; float:left;">

        <img class="card-img-top" src="/media/{{cart.image}}" alt="Card image cap" style="width:250px; align:center;">
        <div class="card-body">
          <h5 class="card-title">{{cart.product_name}}</h5>
            <p class="card-text">Price - ₹ {{cart.price}}/kg</p>
    <a href="{% url 'cart' idz=cart.product_id typer='delete' %}" class="btn btn-primary">Remove from Cart</a>

        </div>
      </div>
          {% endfor %}
    </div>
    {% else %}
        <h4 style="margin-top:20px; text-align: center;">Cart is empty</h4>
    {% endif %}
      <br><br><br>
<!--    </div>-->
<!--    </div>-->

        <h4 style="margin-top:20px; text-align: center; clear:both;">Total Price: {{ sum }}</h4>



{% endblock %}