{% extends 'shop/basic.html' %}
{% block css %}
.card-img-top {
    height:200px;
  }
  {% endblock %}


{% block body %}


<h1 class="text-center mt-5">Wishlist</h1>
<!--    <div class = "container">-->
<!--      <div class="card-deck" style = "width: 70rem;">-->
    {% if cart1 %}
    <div class = "container mt-4">
      <div class="row">

          {% for cart in cart1 %}
          <div class="col-sm-4">
          <div class="card-group" >

            <img class="card-img-top" src="/media/{{cart.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{cart.product_name}}</h5>
            <p class="card-text">Price - ₹ {{cart.price}}/kg</p>
            <p class="card-text">Quantity - {{cart.quantity}} kg</p>
             <a href="{% url 'wishlist' idz=cart.product_id typer='delete' %}" class="btn btn-primary">Remove from Wishlist</a>
             <a href="{% url 'cart' idz=cart.product_id typer='add' %}" class="btn btn-primary">Add to Cart</a>

        </div>
      </div>
      </div>
      {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
         </div><div class = "row">
     {% endif %}

          {% endfor %}
          </div>

    </div>
    {% else %}
    <h4 class="text-sm-center mt-5">Wishlist is empty</h4>
    <p class="text-sm-center mt-5"><a href = "{% url 'shopHome' %}">Click here to add some products in your wishlist</a></p>
    {% endif %}


        <script>
          document.getElementById
        </script>


{% endblock %}