<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


	<title>{% block title %}MyAwesomeCart, Home{% endblock %}</title>
	<style>{% block css %}{% endblock %}</style>
</head>

<body>
	{% load static %}
	<nav class="navbar navbar-expand-lg navbar-blue bg-dark">
		<a class="navbar-brand" href="{% url 'shopHome' %}">My Awesome Cart</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
<!--			<li class="nav-item active">-->
<!--				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--			</li>-->

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Dropdown
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{% url 'Grocery' %}">Grocery</a>
				<a class="dropdown-item" href="{% url 'Vegetables' %}">Vegetables</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'Fruits' %}">Fruits</a>
			</div>
		</li>
		
	
	<form  action = "/search_results" class="form-inline my-2 my-lg-0"  method = "GET"> 
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name = "Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
	</ul>
<!--	<div class="nav-item " style = "margin-right:300px;">-->
<!--		<a class="nav-link" href="#">Cart</a>-->
<!--	</div>-->

		{% if user.is_authenticated %}

		<div class="nav-item ">
			<a class="nav-link" href="{% url 'profile' %}"><img class="rounded-circle article-img" src="{{ request.user.profile.image.url }}" id="img" style="width:25px;"></a></div>
<!--		<div class="nav-item ">-->
<!--			<a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a>-->
<!--		</div>-->
		<div class="nav-item ">
			<a class="nav-link" href="{% url 'cart' idz=0 typer='none' %}">Cart</a>
		</div>
		<div class="nav-item " style = "margin-right:50px;" >
			<a class="nav-link" href="{% url 'logout' %}">Log out</a>
		</div>
		{% else %}
		<div class="nav-item " >
			<a class="nav-link" href="{% url 'login' %}">Log In</a>
		</div>
		<div class="nav-item " style = "margin-right:50px;">
			<a class="nav-link" href="{% url 'register' %}">Register</a>
		</div>
		{% endif %}
	
</div>
</nav>

		{% if messages %}
			<div style="border: 1px solid black; width:50%; margin-left:25%; margin-left:25%; padding:10px; margin-top:20px; background-color: rgba(21, 151, 0, 1); color: rgb(255, 255, 255);">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}</div>
		{% endif %}

{% block body %}
{% endblock %}
{% block rest %}{% endblock %}
















	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</body>
	{% block js %} {% endblock %}
</html>
