{% extends 'shop/basic.html' %}
{% block css %}
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
		  }
		  
          .carousel-indicators .active {
			  background-color: blue;
            }
			
			.col-md-3 img{
				
				width: 255px;
				height: 355px;
			}
			
			body .carousel-indicator li{
				background-color: blue;
			}
			
			body .carousel-indicators{
				bottom: 0;
			}
			
			body .carousel-control-prev-icon,
			body .carousel-control-next-icon{
				background-color: blue;
			}
			body .no-padding{
				padding-left: 0,
				padding-right: 0;
			}
			
			.col-md-3 img {
				width: 255px;
				height: 255px;
      }
      
      .carousel-control-next, .carousel-control-prev {

        top : auto;
        bottom : auto ;
      }
      body .carousel-control-prev-icon, body .carousel-control-next-icon {
        background-color: blue;
        margin-top: 222px;
    }

			{% endblock %}
			
			{% block body %}
{% load static %}
<div class="container">

    {% for nSlides, lenth, product in list %}
    <h1>{{product.0.category}}</h1>
      <div class="row">
<div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
       {% for i in lenth %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
      {% endfor %}
    </ul>

    <!--Slideshow starts here -->
    <div class="col container carousel-inner no-padding">

      <div class="carousel-item active">
        


        {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.product_name}}</h5>
              <p class="card-text">{{i.desc}}</p>
              <button href="#" class="btn btn-primary cart" id = "pr{{i.id}}">Add To Cart</button>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item">
        {% endif %}

        {% endfor %}
    </div>



</div>
</div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
  </div>
{% endfor %}
{% endblock %}

</div>
{% block js %} 
<script>

    if(localStorage.getItem('cart') == null) {
      var cart = {}
    }
    else {
      cart = JSON.parse(localStorage.getItem('cart'));
    }
    $('.cart').click(function(){
      console.log('clicked')
      var idstr = this.id.toString();
      console.log(idstr)
      if(cart[idstr] != undefined) {
        cart[idstr]++;
      }
      else {
        cart[idstr] = 1;
      }
      console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
    });
    
</script>
{% endblock %}